/* Global STyles */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F1F1F3;
}

/* Shared FONT Styles */

.font-bangladesh {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(14, 14, 14);
}

.font-banner-bd {
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.font-bannerTitle {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;

}

.sec-heading {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.sec-body {
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sec-subheading {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.font-news-cardTitle {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.font-donate-amount {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.nav-btn {
    width: 116px;
    height: 52px;
    margin: 0px 10px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;

}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background-color: #C6E4D6;
    padding: 80px 100px;
    margin: 40px 0px 80px 0px;
    border-radius: 24px;
}

.banner-btn {
    border: 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

#banner>div>h5 {
    margin-bottom: 16px;
}

#banner>div>h2 {
    margin-bottom: 24px;
}

/* Vision STyles */
#vision h2,
p {
    margin-bottom: 24px;
}

#vision-cards {
    display: flex;
    gap: 15px;
    margin-bottom: 35px;
}

/* card1 */
#vi-card1 {
    width: 410px;
    padding: 25px;
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

#vi-card1-btn {
    padding: 11px 20px 11px 20px;
    border: 0px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
}

#vi-card1>div>img {
    margin-bottom: 34px;
}

#vi-card1>h4 {
    margin-bottom: 12px;
}

#vi-card1>p {
    margin-bottom: 18px;
}

/* card2 */
#vi-card2 {
    width: 410px;
    padding: 25px;
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

#vi-card2-btn {
    padding: 11px 20px 11px 20px;
    border: 0px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
}

#vi-card2>div>img {
    margin-bottom: 34px;
}

#vi-card2>h4 {
    margin-bottom: 12px;
}

#vi-card2>p {
    margin-bottom: 18px;
}

/* card3 */
#vi-card3 {
    width: 410px;
    padding: 25px;
    margin: 0px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

#vi-card3-btn {
    padding: 11px 20px 11px 20px;
    border: 0px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
}

#vi-card3>div>img {
    margin-bottom: 34px;
}

#vi-card3>h4 {
    margin-bottom: 12px;
}

#vi-card3>p {
    margin-bottom: 18px;
}