/* Global STyles */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1080px;
    margin: 0 auto;
    background-color: #F1F1F3;
}

/* Shared Styles */
.banner-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    /* Frame 2 */
    width: 270px;
    height: 56px;
    /* Auto layout */
    padding: 17px 34px 17px 34px;
}

.font-bangladesh {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(14, 14, 14);
}

.font-banner-bd {
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.font-bannerTitle {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;

}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;

}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border: 2px solid tomato;
}